@page "/borrar"


@using Data.Model
@using Data.Services

@inject IClienteService ClienteService
@inject NavigationManager NavigationManager


<h3>Borrar</h3>

@if(clientes == null) {
    <h1>No hay usuarios</h1>
}
else
{
    @foreach(var list in clientes)
    {
        <table>
            <thead>
                <tr>
                    
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@list.NombreCliente</td>
                    <td>@list.ApellidoCliente</td>
                    <td>@list.EmailCliente</td>
                    <td>Editar</td>
                    <td><input type="button" value="Eliminar" @onclick="@DeleteCliente"/></td>
                </tr>
            </tbody>
        </table>
    }
}

@code {
    private Cliente cliente = new Cliente();
    private IEnumerable<Cliente> clientes;

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        clientes = await ClienteService.Get();
    }

    private async Task DeleteCliente() { 
        await ClienteService.DeleteCliente(id); 
    }


}
